/* Center the author name and details under the profile image */
.author__content {
    text-align: center !important;
}

/* Center the avatar */
.author__avatar {
    margin-left: auto !important;
    margin-right: auto !important;
}
