/* Center the author name and details under the profile image */
.sidebar .author__content {
    text-align: center;
}

.sidebar .author__avatar {
    margin: 0 auto;
}

.page__actions {
    display: none !important;
}
